.*/
.bash_history
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__

Data_other_studies/*/*
!Data_other_studies/Fadlullah/*.ipynb
!Data_other_studies/Fadlullah/parameters.py
!Data_other_studies/Vink/*.ipynb
!Data_other_studies/Vink/parameters.py
!Data_other_studies/Vink/genes.txt

Shared_data/HSC_like_markers.tsv

Analysis_2021/*
!Analysis_2021/0*.ipynb
!Analysis_2021/1*.ipynb
!Analysis_2021/2*.ipynb
!Analysis_2021/3*.ipynb
!Analysis_2021/4*.ipynb
!Analysis_2021/5*.ipynb
!Analysis_2021/6_Projection_Fadlullah*.ipynb
!Analysis_2021/6_Projection_Vink.ipynb
!Analysis_2021/parameters.py
!Analysis_2021/setup_analysis.sh
!Analysis_2021/Data/.gitkeep

Analysis_2022/*
!Analysis_2022/0*.ipynb
!Analysis_2022/1*.ipynb
!Analysis_2022/2*.ipynb
!Analysis_2022/3*.ipynb
!Analysis_2022/4*.ipynb
!Analysis_2022/5*.ipynb
!Analysis_2022/6_Projection_Fadlullah*.ipynb
!Analysis_2022/6_Projection_Vink.ipynb
!Analysis_2022/6_Projection_Analysis.ipynb
!Analysis_2022/parameters.py
!Analysis_2022/setup_analysis.sh
!Analysis_2022/Data/.gitkeep

Preprocessing_2021
Preprocessing_2022

report
report.zip
make_report.sh

run_all_TOTAL.sh

NOTES